@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-size: 21px;
  font-family: 'Roboto';
}

.container {
  background: #23424A;
  padding: 150px 0;
}

.content {
  width: min(1200px, 80%);
  color: #FFF;
  margin: 0 auto;
}

.content h1 {
  font-size: clamp(36px, 6vw, 48px);
  font-weight: 900;
  width: 60%;
}

.content p {
  font-weight:400;
  margin-block: 2rem 3em;
  width: 60%;

}

.content a {
  display: inline-block;
  text-transform: uppercase;
  color: #072A2D;
  font-weight: 700;
  padding: 1em 2em;
  border-radius: 100vmax;
  text-decoration: none;
  background-color: #38cfd9;
  white-space: nowrap;
  &:hover {
    color: white;
    background-color: #136C72;
  }
}